/data/scandata/
/.idea/
data/processed/*.pcd
/data/sample/
examples/
view/TrackingViewer.log
view/Processed3dView.log
view/ViewerBackendService.log
view/images/map_image_tmp.png
view/images/check.png
view/config/pinhole_camera_parameters.json
view/images/car_marker_small - Copy.png
view/config/tracking_tasks.tmp.txt
view/pinhole_camera_parameters.json
